<nav class="navbar navbar-expand-xl navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-nowrap">
                <li class="nav-item active">
                    <!--TODO: TODAY ROOM MANAGEMENT-->
                    <a class="nav-link active rounded-pill px-3" aria-current="page" href="/calendar/{{getCurrentMonthYear}}">Room Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill px-3" href="#">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill px-3" href="#">Employees</a>
                </li>
                <li class="nav-item">
                    <a href="/calendar/{{getCurrentMonthYear}}" class="nav-link rounded-pill px-3">Calendar</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 text-nowrap">
                <li>
                    <button type="button" id="help-sidebar" class="btn nav-link rounded-pill px-3" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="hover" title="<h4 class='m-0 p-2 text-center'>HELP INFORMATION</h4>"
                        data-bs-content="
                        <h5>Room Management</h5>
                        <p class='text-secondary'>For managing of occupation(check-in and check-out) and maintenance status of rooms for <strong>today's date.</strong></p>
                        <h5>Customers</h5>
                        <p class='text-secondary'>For viewing and searching of the history of customer logs.</p>
                        <h5>Calendar</h5>
                        <p class='text-secondary'>Interactive Calendar where picking a date tile redirects and allows the user to manage the bookings and reservations for that specific date.</p>
                        <h5>Booking</h5>
                        <p class='text-secondary'>For managing of current bookings (Viewing, Creating, Editing, and Deleting).</p>
                        <h5>Reservation</h5>
                        <p class='text-secondary'>For managing of current reservations (Viewing, Creating, Editing, and Deleting).</p>
                        <!--FOR ADMINS ONLY-->
                        <h5 class='text-danger'>Employees</h5>
                        <p class='text-danger'>For managing of current employees (Viewing, Creating, Editing, and Deleting).</p>
                        ">
                        Help
                    </button>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle rounded-pill px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Username
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/sign-out">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
