<div id="sidebar" class="col-2 p-0 shadow-sm">
    <div id="sidebar-list" class="list-group position-fixed h-100">
        <a href="/{{formatDate date}}/booking/" id="booking-sidebar" class="list-group-item list-group-item-action rounded-0 sidebar-item p-5"><h2 class="m-0 text-center text-break">Booking</h2></a>
        <a href="/{{formatDate date}}/reservation/" id="reservation-sidebar" class="list-group-item list-group-item-action rounded-0 sidebar-item p-5"><h2 class="m-0 text-center text-break">Reservation</h2></a>
    </div>
</div>
