<div id="sidebar" class="col-2 p-0 shadow-sm">
    <div id="sidebar-list" class="list-group position-fixed h-100">
        <a href="/calendar/{{getCurrentMonthYear}}" id="booking-sidebar" class="list-group-item list-group-item-action rounded-0 sidebar-item p-5"><h2 class="m-0 text-center text-break">Calendar</h2></a>
        <a href="#" id="booking-sidebar" class="list-group-item list-group-item-action rounded-0 sidebar-item p-5"><h2 class="m-0 text-center text-break">Booking</h2></a>
        <a href="#" id="reservation-sidebar" class="list-group-item list-group-item-action rounded-0 sidebar-item p-5 active"><h2 class="m-0 text-center text-break">Reservation</h2></a>
    </div>
</div>
