<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>

        <title>Calendar</title>
    </head>
    <body>
        {{>navbar}}

        <div class="container-md">
            <!--TODO: Calendar here occupying within the x-boundaries of the container-->
        </div>
    </body>
</html>
