<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/sanitize.css">
        <link rel="stylesheet" type="text/css" href="/css/material.css">
        <link rel="stylesheet" type="text/css" href="/css/error.css">
        <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>

        <title>Jaelle Residences Management System</title>
    </head>
    <body>
        <div class="container shadow-lg">
            <div class="row h-100">
                <div class="col mb-5">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100 pb-5 text-center">
                        <h1 class="mb-0"><span id="error-icon" class="material-icons-outlined text-danger">report_gmailerrorred</span></h1>
                        <h1 class="text-danger mb-1" id="error-main">Error</h1>
                        <h3 class="text-secondary" id="error-info">Page being accessed is unavailable</h3>
                        <h5 class="mt-4 mb-2">Kindly press the button below to return to the previous page</h5>
                        <a href="javascript: history.back()" class="btn btn-primary mb-5"><span class="material-icons-outlined me-1">keyboard_return</span>Return</a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
