<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>

        <title>Placeholder</title>
    </head>
    <body>
        <h1>Template</h1>
        <h3>This is the template to be used for the necessary imports, formatting, and all.</h3>

        <br>
        <hr>

        <a href="/{{formatDate today}}/reservation/">Reservation</a>
        <a href="/calendar/{{getCurrentMonthYear}}">Calendar</a>
        <a href="/{{formatDate today}}/booking/">Booking</a>
        <a href="/booking/61011b559b5db91ef86aa1cd/print">Print</a>

    </body>
</html>
