<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>

        <title>Placeholder</title>
    </head>
    <body>
        <h1>Template</h1>
        <h3>This is the template to be used for the necessary imports, formatting, and all.</h3>

        <br>
        <hr>
        <a href="/reservation/01-01-2021">Reservation</a>
    </body>
</html>
