<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>

    <title>Reservation</title>
</head>
<body>

    <!--TODO: FIX THE WAY IT'S LAIDOUT IN THE PAGE WITH REGARDS TO PADDINGS AND MARGINS-->
    <!-- One full row with three columns for room type  -->
    <div class="container-md">

        <!--TODO: DETERMINE THE END HEIGHT OF THE ROWS BEFORE IT BECOMES SCROLLABLE-->
        <div class="row justify-content-center align-items-center">
            <h1>Reservation</h1>
            <br>
            <hr>

            <div class="col-md-3 border me-2 ms-2 rounded">
                <!--TODO: FIX HEADER TEXT ALIGNMENT-->
                <h4 id="room-type-1" class="pb-2 text-center">Room Type 1</h4>

                <!--TODO: FIX THE PADDING/MARGIN/BORDER-->
                <!--TODO: SPECIFY THE DETAILS OF WHAT IS TO BE SHOWN-->
                <!--TODO: FIX TEXT ALIGNMENT-->
                <!-- Room Item -->
                <div class="d-flex border-bottom position-relative ml-0 mr-0 mb-2 border">
                    <div class="flex-grow-1">
                        <!-- Button trigger modal -->
                        <button id="reservation-item-id" type="button" class="btn w-100 text-start" data-bs-toggle="modal" data-bs-target="#reserveItemModal">
                            <h5><span id="reservation-firstname-label-id" class="fa fa-pencil" aria-hidden="true">Firstname</span> <span id="reservation-lastname-label-id" class="fa fa-pencil" aria-hidden="true">Lastname</span></h5>
                            <h6 class="text-secondary"><span id="reservation-startdate-label-id">01/02/2021</span> - <span id="reservation-enddate-label-id">01/05/2021</span></h6>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="reserveItemModal" tabindex="-1" aria-labelledby="reserveModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="reserveItemModalLabel">Reservation Information</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body ps-3">
                                        <h5>Guest Name:</h5>
                                        <h5 class="ms-4 text-secondary"><span id="reservation-firstname-id">Firstname</span> <span id="reservation-lastname-id">Lastname</span></h5>
                                        <h5>Room Type:</h5>
                                        <h5 class="ms-4 text-secondary"><span id="reservation-type-id">Burger King Deluxe</span></h5>
                                        <h5>Date:</h5>
                                        <h5 class="ms-4 text-secondary"><span id="reservation-startdate-id">01/02/2021</span> - <span id="reservation-enddate-id">01/05/2021</span></h5>
                                        <h5>Contact Number:</h5>
                                        <h5 class="ms-4 text-secondary"><span id="reservation-contact-id">+01312413214</span></h5>
                                        <h5>Address:</h5>
                                        <h5 class="ms-4 text-secondary"><span id="reservation-address-id" class="text-break">31st Street of AAAAAAAAAAAAAAAAAA and BBBBBBBBBB and CCCCC</span></h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><strong>Close</strong></button>
                                        <a href="../reservation-edit" class="btn btn-info"><strong>Edit</strong></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!--DUPLICATE-->
            <div class="col-md-3 border me-2 ms-2">
                <!--TODO: FIX HEADER TEXT ALIGNMENT-->
                <h4 class="pb-2 text-center">Room Type 2</h4>

                <!--TODO: FIX THE PADDING/MARGIN/BORDER-->
                <!--TODO: SPECIFY THE DETAILS OF WHAT IS TO BE SHOWN-->
                <!--TODO: FIX TEXT ALIGNMENT-->
                <!-- Room Item -->
                <div class="d-flex border-bottom position-relative ml-0 mr-0 mb-2 border">
                    <div class="flex-grow-1">
                        <h6 class="pt-1 mb-2 text-center"><span><i class="fa fa-pencil" aria-hidden="true"></i></span>Room details here</h6>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>

            </div>
            <!--DUPLICATE-->
            <div class="col-md-3 border me-2 ms-2">
                <!--TODO: FIX HEADER TEXT ALIGNMENT-->
                <h4 class="pb-2 text-center">Room Type 3</h4>

                <!--TODO: FIX THE PADDING/MARGIN/BORDER-->
                <!--TODO: SPECIFY THE DETAILS OF WHAT IS TO BE SHOWN-->
                <!--TODO: FIX TEXT ALIGNMENT-->
                <!-- Room Item -->
                <div class="d-flex border-bottom position-relative ml-0 mr-0 mb-2 border">
                    <div class="flex-grow-1">
                        <h6 class="pt-1 mb-2 text-center"><span><i class="fa fa-pencil" aria-hidden="true"></i></span>Room details here</h6>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <!--TODO: ACCOMPLISH ADD RESERVATION TURN TO BUTTON TO MAKE IT USABLE-->
            <!--TODO: FIX THE ALIGNMENT-->
            <div class="d-flex flex-row-reverse">
                <a href="/create-reservation" id="submit" name="submit" type="submit" class="btn btn-info mb-4 mt-2 w-25">Create Reservation</a>
            </div>
        </div>
    </div>




</body>
</html>
