<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>

    <title>Reservation</title>
</head>
<body>

    <!--TODO: FIX THE WAY IT'S LAIDOUT IN THE PAGE WITH REGARDS TO PADDINGS AND MARGINS-->
    <!-- One full row with three columns for room type  -->
    <div class="container-md">

        <!--TODO: DETERMINE THE END HEIGHT OF THE ROWS BEFORE IT BECOMES SCROLLABLE-->
        <div class="row justify-content-center align-items-center">
            <h1>Reservation</h1>
            <br>
            <hr>

            <div class="col-md-3 border me-2 ms-2">
                <!--TODO: FIX HEADER TEXT ALIGNMENT-->
                <h4 class="pb-2 text-center">Room Type 1</h4>

                <!--TODO: FIX THE PADDING/MARGIN/BORDER-->
                <!--TODO: SPECIFY THE DETAILS OF WHAT IS TO BE SHOWN-->
                <!--TODO: FIX TEXT ALIGNMENT-->
                <!-- Room Item -->
                <div class="d-flex border-bottom position-relative ml-0 mr-0 mb-2 border">
                    <div class="flex-grow-1">
                        <h6 class="pt-1 mb-2 text-center"><span><i class="fa fa-pencil" aria-hidden="true"></i></span>Room details here</h6>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>

            </div>
            <!--DUPLICATE-->
            <div class="col-md-3 border me-2 ms-2">
                <!--TODO: FIX HEADER TEXT ALIGNMENT-->
                <h4 class="pb-2 text-center">Room Type 2</h4>

                <!--TODO: FIX THE PADDING/MARGIN/BORDER-->
                <!--TODO: SPECIFY THE DETAILS OF WHAT IS TO BE SHOWN-->
                <!--TODO: FIX TEXT ALIGNMENT-->
                <!-- Room Item -->
                <div class="d-flex border-bottom position-relative ml-0 mr-0 mb-2 border">
                    <div class="flex-grow-1">
                        <h6 class="pt-1 mb-2 text-center"><span><i class="fa fa-pencil" aria-hidden="true"></i></span>Room details here</h6>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>

            </div>
            <!--DUPLICATE-->
            <div class="col-md-3 border me-2 ms-2">
                <!--TODO: FIX HEADER TEXT ALIGNMENT-->
                <h4 class="pb-2 text-center">Room Type 3</h4>

                <!--TODO: FIX THE PADDING/MARGIN/BORDER-->
                <!--TODO: SPECIFY THE DETAILS OF WHAT IS TO BE SHOWN-->
                <!--TODO: FIX TEXT ALIGNMENT-->
                <!-- Room Item -->
                <div class="d-flex border-bottom position-relative ml-0 mr-0 mb-2 border">
                    <div class="flex-grow-1">
                        <h6 class="pt-1 mb-2 text-center"><span><i class="fa fa-pencil" aria-hidden="true"></i></span>Room details here</h6>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <!--TODO: ACCOMPLISH ADD RESERVATION TURN TO BUTTON TO MAKE IT USABLE-->
            <!--TODO: FIX THE ALIGNMENT-->
            <div class="d-flex flex-row-reverse">
                <a href="reservation-add" id="submit" name="submit" type="submit" class="btn btn-info mb-4 mt-2 w-25">Add Reservation</a>
            </div>
        </div>
    </div>




</body>
</html>
