<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>

        <title>Add Reservation</title>
    </head>
    <body>
        <h1>Add Reservation</h1>
        <h3>This is the template to be used for the necessary imports, formatting, and all.</h3>
    </body>
</html>
