<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="/css/sanitize.css">
	    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
	    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">

	    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
	    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
	    <script type="text/javascript" src="/js/help.js"></script>

		<title>Room Management</title>
	</head>
	<body>
		{{>navbar}}

		<div class="container shadow-lg p-4">

			<div class="d-flex pt-2 ps-2 mt-2 mb-3 align-items-center">
				<h1 class="m-0">Room Management</h1>
				<p id="screen-info" class="border-start my-0 ms-4 ps-3 w-50 text-secondary">Room management screen information here.</p>
			</div>

            <!--Room Management Here-->

		</div>
	</body>
</html>
