<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/sanitize.css">
        <link rel="stylesheet" type="text/css" href="/css/material.css">

        <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/js/sign-in.js"></script>
        <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>

        <title>Sign In</title>
    </head>
    <body>
        <div id="container-screen" class="container shadow-lg bg-light p-4">
            <div class="d-flex flex-column align-items-center justify-content-center h-100 m-0">
                <h1>LOGO HERE</h1>
                <h1>Jaelle Residences</h1>
                <!-- Temporary Sign In -->
                <form class="w-50 mt-3" action="/sign-in" method="POST">
                    <div class="form-group">
                        <label for="username" class="h4">Username</label>
                        <input type="username" class="form-control" placeholder="Enter Username" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="h4">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password">
                    </div>

                    <button type="submit" class="btn btn-primary mt-2 rounded-pill" id="signinbtn" disabled="disabled">Sign In</button>
                </form>
            </div>
        </div>
    </body>
</html>
