@font-face {
    font-family: "Print";
    src: url("/css/fonts/fake-receipt.ttf");
}

html {
    font-family: "Print" !important;
    background-color: #FFFFFF;
}

body {
    font-family: "Print" !important;
    background-color: #FFFFFF;
    width: 76mm;
    border: 1px solid black;
}

p {
    font-size: 0.7rem
}

@page {
    margin: 7.5mm;
}
