td {
    text-align: center !important;
    vertical-align: middle !important;
    height: 6em;
    width: 33%;
    border: 1px #EAEAEC solid;
}

.dropdown {
    float: none !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.table-header td {
    height: 2.5em;
    background-color: #DFECF6;
}

#chosen-date:hover {
    cursor: default;
}

.maintenance-field {
    font-family: "Secondary";
    text-transform: initial;
}

.okay {
    background-color: #E6FFF3 !important;
}

.inneed {
    background-color: #FFD6E6 !important;
}
